<?xml version="1.0" encoding="UTF-8"?>
<web-app>
<servlet>
<servlet-name>one</servlet-name>
<servlet-class>com.ram.onlineshopping.Source</servlet-class>


</servlet>

<servlet-mapping>
<servlet-name>one</servlet-name>
<url-pattern>/source</url-pattern>

</servlet-mapping>
<welcome-file-list>

<welcome-file>shopping.html</welcome-file>

</welcome-file-list>


</web-app>