<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <sevlet>
<servet-name>diff</servet-name>
<servlet-class>ram.com.servlets.SubractServlet</servlet-class>
</sevlet>

<servlet-mapping>
<servlet-name>diff</servlet-name>
<url-pattern>/subtraction</url-pattern>
</servlet-mapping>
 

<welcome-file-list>
<welcome-file>subtraction.html</welcome-file>
</welcome-file-list>
</web-app>