<?xml version="1.0" encoding="UTF-8"?>
<web-app>
<servlet>
    <servlet-name>SalaryDetails</servlet-name>
    <servlet-class>com.ram.servlets.SalaryDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SalaryDetails</servlet-name>
    <url-pattern>/salary</url-pattern>
  </servlet-mapping>
	
<welcome-file-list>
<welcome-file>salary.html</welcome-file>
</welcome-file-list>

</web-app>