<?xml version="1.0" encoding="UTF-8"?>
<web-app>
<servlet>
<servlet-name>marks</servlet-name>
<servlet-class>com.ram.studentMarks.StudentMarks</servlet-class>
</servlet>

<servlet-mapping>

<servlet-name>marks</servlet-name>
<url-pattern>/average</url-pattern>

</servlet-mapping>

<welcome-file-list>
<welcome-file>marks.html</welcome-file>
</welcome-file-list>


</web-app>